.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  background-color: rgb(187, 178, 153);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ebe6d4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.shopping {
  color: white;
}
.cart_img {
  width: 50px;
}
article {
  background-color: #8f8670;
}
h3 {
  font-size: 4rem;
  color: rgb(111, 87, 76);
  font-family: fantasy;
}
button {
  font-size: 1.2rem;
  background-color: rgb(128, 118, 102);
  color: white;
}
h1 {
  color: white;
}
img {
  width: 300px;
  border-radius: 20%;
}
p {
  color: white;
}
